.header_width-1140px {
  width: 1140px;

  margin: 0 auto;
  color: #8e8e93;
}
.header {
  background-color: #1e2022;
  height: 130px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.header__town {
  width: min-content;
  margin: 0;
}
.geo2.geo {
  display: none;
}
#town {
  margin: 15px 0;
}
.header__menu-item {
  margin: 15px 0px 15px 0px;
  list-style-type: none;
  display: inline-block;
}
.header__menu-item a {
  text-decoration: none;
  color: #8e8e93;
  transition: color 0.4s ease-in-out;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__menu-item:hover a {
  color: #ffffff;
}
.header__menu {
  margin: 0;
  padding: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header__navigation-phone {
  list-style-type: none;
  text-decoration: none;
  color: #8e8e93;
  margin: 15px 0;
  font-weight: 700;
  transition: color 0.4s ease-in-out;
}
.header__navigation-phone:hover {
  color: white;
}
.hr {
  display: block;
  position: absolute;
  color: white;
  margin: 0px;
  border: none;
  border-top: 1px solid;
  width: 100%;
}
.logo__img {
  width: 149px;
  height: 35px;
}
.logo__container {
  margin: 17px 0 20px 0;
}
.header__search {
  background-color: #1e2022;
  border: 1px solid #8e8e93;
  border-radius: 6px;
}
.header__search-input {
  background-color: #1e2022;
  width: 360px;
  margin: 13px;

  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Dark Grey */

  color: #8e8e93;
}

.form__select {
  width: 126px;
  height: 50px;
}
.header__bottom {
  display: flex;
  justify-content: space-around;
}
.form__select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 22px 15px 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Dark Grey */

  color: #8e8e93;
}
.form__select:focus {
  outline: none;
}
.form__select:hover {
  -webkit-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
}
.form__select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto auto;
}
hr {
  width: 100%;
}
.header__select {
  position: relative;
  width: 126px;
  height: 50px;
  margin: 15px 30px;
}

.header__select::before {
  background: url("../img/images/header_select.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  content: "";
  position: absolute;
  left: 15%;
  top: 40%;
  display: block;
  height: 10px;
  width: 10px;

  opacity: 1;
}
.form__select {
  background-color: #1e202200;
  border: 1px solid #8e8e93;
  border-radius: 6px;
  transition: box-shadow 0.6s ease-in-out;
}
.header__search {
  width: 438px;
  height: 48px;
  margin-top: 15px;
  transition: color 0.35s ease-in-out, box-shadow 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Dark Grey */

  color: #8e8e93;
}
.header__search-input:focus {
  outline: none;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.header__search:hover {
  border: 1px solid #8e8e93;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  -moz-box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
  box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.27);
}
.header__search-icon {
  cursor: pointer;
  height: 20px;
}
.menu {
  display: flex;
  gap: 35px;
}
.menu li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin: 30px 0 29px 0;
}
.menu li a {
  text-decoration: none;
  color: #8e8e93;
  display: flex;
  margin-bottom: auto;
  align-items: center;
  transition: color 0.4s ease-in-out;
}
.menu li:hover a {
  color: white;
}
.menu li a span {
  margin: 0px 0px 0px 4px;
}
.menu {
  padding: 0;
  margin: 0;
}
.menu li img {
  padding-top: 0px;
  margin-right: 0px;
}
.header__navigation-geo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__navigation-geo img {
  margin-right: 11px;
}

header {
  width: 100%;
}
.header__select {
  cursor: pointer;
}
.form__select {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__navigation {
    display: flex;
    justify-content: space-between;
    gap: 6%;
    padding: 0 20px;
  }
  .header__bottom {
    padding: 0 20px;
  }
  .header,
  .header_width-1140px {
    max-width: 100%;

    margin: 0 auto;
  }
  .header__search {
    width: 27.9%;
  }
  .header__search-input {
    position: relative;
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .menu li {
    margin-left: 0;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    min-width: max-content;
    width: 320px;
    gap: 3%;
  }
}
@media (max-width: 920px) {
  .header__navigation {
    gap: 5%;
  }
}
@media (max-width: 900px) {
  .hr {
    display: none;
  }
  .header {
    margin-bottom: 15px;
  }
  .header__menu {
    display: none;
  }
  .header__navigation,
  .header__select,
  .menu {
    display: none;
  }
  .logo__container {
    flex: 0 1 50%;
    margin: 20px 0;
  }
  .geo2.geo {
    display: flex;
    width: 70px;
    flex: 0 1 50%;
    margin: 0;
    padding-left: 0%;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 50%;
  }
  .geo2.geo img {
    height: 14px;
    width: 20px;
  }
  .header__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .header__search {
    flex: 0 1 100%;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .header__search img {
    margin-right: 15px;
  }
  .header_width-1140px {
    background-color: #1e2022;
  }
}
