body {
  margin: 0px;
  font-family: Roboto;
}
.products-container {
  gap: 20px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style-type: none;
  justify-content: center;
}
.block__sravnen {
  margin-left: 37px;
  display: inline-flex;
}
.block__sravnen a {
  font-size: 14px;
  text-decoration: none;
  color: #8e8e93;
  font-weight: 500;
}
.block__sravnen a:hover {
  color: white;
}
.block__sravnen span {
  padding-left: 7px;
}

.div_sravnen {
  margin-top: 18px;
}
.div_korzina {
  margin-left: 37px;
  margin-top: 22px;
}
.div_vhod {
  margin-left: 39px;
  margin-top: 19px;
}
.sortirovka_tovarov {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.sortirovka_spisok {
  height: 16px;
  width: 172px;
  position: relative;
  cursor: pointer;
}
.sortirovka_spisok:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/images/select_custom.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  z-index: 100;
  left: 2%;
  bottom: -14%;
}
.sortirovka_tovarov button {
  background: none;
  border: none;
}
#selectID {
  border-color: #fff;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
#selectID:checked {
  border-color: #fff;
}
.poloski__sort__btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.poloski__sort__btn:hover {
  border-radius: 50px;
  background-color: #d9d9d9;
}
.cubiki__sort__btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cubiki__sort__btn:hover {
  border-radius: 50px;
  background-color: #c5c5c7;
}
.way {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1120px;
}
.way a {
  font-family: Roboto;
  color: #8e8e93;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.way span {
  font-family: Roboto;
  color: #8e8e93;
  font-size: 16px;
  font-weight: 400;
}
.way a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
  font-family: Roboto;
}
.content__tovar {
  max-width: 835px;
  width: 100%;
  display: flex;
  gap: 20px;
  min-height: 100vh;
  flex-direction: column;
}

.category_name {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1120px;
}
.category_name h1 {
  font-weight: 700;
  font-size: 24px;
  color: #2d2d2d;
}
.category_name h1 span {
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #8e8e93;
}

.search_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 265px;
  height: 50px;
  border: 1px solid #8e8e93;
  border-radius: 6px;
}
.pole_search_cat {
  width: 190px;
  height: 39px;
  margin-left: 20px;
  border: none;
  outline: none;
}
.search_category__btn {
  background: none;
  border: none;
  margin-right: 14px;
}

.filtres {
  width: 265px;
  margin-top: 10px;
}
.vibor__magazina__filters {
  margin-top: 10px;
}
.vibor__magazina__filters select {
  width: 265px;
  height: 50px;
}
.vibor__magazina__filters option {
  margin-left: 15px;
}
.dropdown {
  margin-top: 30px;
}
.dropdown__header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.dropdown__header-img {
  transform: rotate(180deg);
}
.dropdown__header:hover {
  color: #8e8e93;
}
.dropdown__body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#vibor__magazina__select {
  border-radius: 6px;
  color: #8e8e93;
  padding-left: 15px;
}

.checkbox_txt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}
* {
  transition: all 0.5s;
}
.dropdown__body span {
  margin-top: 10px;
}

.cena_inp {
  width: 100px;
  height: 50px;
  border-radius: 6px;
  color: #8e8e93;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #8e8e93;
  padding-left: 15px;
}
.tire {
  color: #8e8e93;
  font-family: Roboto;
}
.vibor__ceni {
  display: flex;
  flex-direction: column;
}
.vibor__ceni span {
  font-family: "Roboto";
  color: #404040;
  font-size: 14px;
  font-weight: 400;
}

.search_creator {
  display: flex;
  text-align: center;
  margin-top: 10px;
  height: 30px;
  border: 1px solid #8e8e93;
  border-radius: 6px;
  padding: 10px;
}
.vibor__creator {
  display: flex;
  flex-direction: column;
}
.search_creator_txt {
  border: none;
  outline: none;
  width: 200px;
}
.search_creator_btn {
  background: none;
  margin-right: 4px;
  border: none;
}
#readmore_btn {
  font-family: Roboto;
  background: none;
  border: 0px;
  color: #3191d0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-left: -5px;
}
#readmore_btn:hover {
  text-decoration: underline;
}
#dots {
  display: none;
}
#more {
  margin-top: 0px;
  display: none;
  flex-direction: column;
}
/* custom checkbox */
.dropdown__body label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #404040;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #8e8e93;
  border-radius: 2px;
  margin-right: 6px;
  background-color: #ffffff;
  margin-right: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 4.5px;
  background-image: url(../img/images/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-60%, -50%) scale(0);

  transition: all 0.2s ease-in-out;
}
.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.real-checkbox:checked + .custom-checkbox {
  background: #f05757;
  border: 1px solid #f05757;
}
.checkbox label {
  display: flex;
  align-items: center;
}
.real-checkbox {
  display: none;
}
.primenit {
  margin-top: 20px;
  max-width: 265px;
  width: 100%;
  min-height: 50px;
  background-color: #f05757;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.primenit:hover {
  background-color: red;
}
.reset__filter {
  margin-top: 10px;
  max-width: 265px;
  width: 100%;
  min-height: 50px;

  background: none;
  color: #8e8e93;
  border-radius: 6px;
  border: 1px solid #8e8e93;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.reset__filter:hover {
  background-color: #8e8e93;
  color: #fff;
}

.tovar__block {
  display: flex;
  flex-direction: column;
  width: 265px;
  height: 413px;
  border: none;
  font-family: "Roboto";
}
.photo_tovara {
  margin-top: 20px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-position: center;
  transition: background-size 0.3s cubic-bezier(1, -1.86, 0.47, 1.9);
  background-size: 100%;
  background-repeat: no-repeat;
}
.photo_tovara:hover {
  transition: background-size 0.3s ease;
  background-size: 120% auto;
}
.tovar_name {
  font-weight: 400;
  font-size: 14px;
  color: #1e2022;
}
.tovar_otziv {
  margin-top: 10px;
}
.otziv_cifra {
  margin-left: 5px;
  color: #f05757;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.otziv_kolvo {
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #8e8e93;
  text-decoration: none;
}
.otziv_kolvo:hover {
  text-decoration: underline;
}
.cena_tovara {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}
.old_cena {
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  color: #8e8e93;
}
.new_cena {
  font-weight: 600;
  font-size: 24px;
  color: #1e2022;
  text-decoration: none;
  margin-top: -8px;
}
.block_korzina {
  margin-top: 20px;
}
.add_korzina {
  width: 80px;
  height: 40px;
  background-color: #f05757;
  border-radius: 6px;
  border: none;
}
.add_korzina:hover {
  background-color: red;
  margin: 0;
}
.add_korzina._active {
  color: white;
}
.like_tovar {
  padding: 0;
  padding-top: 4px;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
.like_tovar:hover {
  background-color: #c5c5c7;
  border-radius: 50px;
}
.like_tovar:active {
  background-color: #f05757;
  border-radius: 50px;
  transition: 0.1s;
}
.like_tovar:focus {
  background-color: #f05757;
  border-radius: 50px;
}
.sravnen_tovara {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
.sravnen_tovara:hover {
  background-color: #c5c5c7;
  border-radius: 50px;
}
#more_tovar_btn {
  max-width: 835px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  color: #2d2d2d;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #8e8e93;
  cursor: pointer;
}
#more_tovar_btn:hover {
  background-color: #1e2022;
  border: 1px solid #1e2022;
  color: #fff;
}
#dots_tovar {
  display: none;
}
#more_tovar {
  margin-top: 0px;
  display: none;
  flex-direction: column;
}
.category_name {
  max-width: 1120px;
  margin-top: 40px;
  margin: 0 auto;
}
.category_name h1 {
  margin: 0;
  margin-top: 60px;
}

.num_str {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  margin-left: 37px;
  margin-top: 20px;
}
.num_str .num_str__btn,
.num_str_active {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid transparent;
}
.num_str .num_str__btn:hover {
  border: 1px solid #404040;
  border-radius: 4px;
}
.num_str__btn._none:hover {
  border: 1px solid #ffffff;
}
.num_str_active {
  border: 1px solid #404040;
  border-radius: 4px;
}
.num_str button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.num_str button:hover {
  border-radius: 50px;
  border: 1px solid black;
}
@media screen and (max-width: 1000px) {
  .way,
  .category_name {
    margin-left: 20px;
  }
  .content__tovar {
    margin-right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .block__sravnen {
    display: none;
  }
  .way {
    display: none;
  }
  .sortirovka_tovarov {
    display: none;
  }
  .content {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__tovar {
    max-width: 300px;
  }
  #more_tovar_btn {
    width: 300px;
  }
  .num_str {
    margin-left: -4px;
  }
  .skritie__adaptiv {
    display: none;
  }
  .category_name {
    max-width: 265px;
  }
  .filtres {
    margin: o auto;
    margin-left: 20px;
  }
  .products-container {
    justify-items: center;
  }
}
